@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital@0;1&family=Share+Tech+Mono&display=swap');

/* font-family: 'B612 Mono', monospace;
font-family: 'Share Tech Mono', monospace; */

body {
    font-size: x-large;
    background-image: url(/images/wp5399598-desktop-marvel-wallpapers.jpg);
    /* background-image: url(/images/slider-images/marvel-basic-logo.png); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'B612 Mono', monospace;
}

header {
    width: 100%;
    height: 70px;
    position: fixed;
    /* top: 5px; */
    display: grid;
    grid-template-columns: 15% 85%;
    z-index: 1;
}

.onScroll {
    background-color: rgba(99, 37, 37, 0.973);
    color: #fff;
}

.header-logo {
    /* border-right: 1px solid #000; */
    display: flex;
    justify-content: end;
}

.header-menu {
    display: grid;
    grid-template-columns: 20% 20% 25%;
    justify-content: end;
    justify-items: center;
    align-items: center;
}

.main-page,
.favorites,
.category {
    /* border: 1px solid #000; */
    text-align: end;
    cursor: pointer;
}

.favorites {
    display: grid;
    grid-template-columns: 70% 30%;
    /* border: 1px solid #000; */
    justify-content: end;
}

.badges {
    background-color: rgb(248, 72, 72);
    text-align: center;
    border-radius: 40%;
    margin-left: 10px;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    position: relative;
    top: 600px;
    display: grid;
    grid-template-columns: 100%;
    /* border: 1px solid #000; */
}

.suggestion {
    display: flex;
    justify-content: flex-end;
}

.cards {
    margin-top: 10px;
    display: grid;
    /* grid-template-columns: 30% 30% 30%; */
    /* grid-template-columns: 40% 40%; */
    grid-template-columns: 90%;
    justify-items: center;
    justify-content: space-around;
    color: white;
}

.card-area {
    /* border: 1px solid #000; */
    height: 450px;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 30px;

    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.418);
    /* background-color: rgba(255, 255, 255, 0); */
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);

    padding-top: 5px;
}

.banner-area {
    border-right: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#banner-image {
    /* position: relative; */
    width: 50%;
    /* height: 80%; */
    /* margin-left: 10px; */
    z-index: -1;
    /* filter: blur(1px); */
    object-fit: contain;
}

.info-area {
    /* backdrop-filter: blur(10px) saturate(10%) brightness(140%); */
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    /* border: 2px solid #000; */
    /* background-color: #ffffff83; */
    /* height: auto; */
    color: #000000d5;
    font-weight: bold;
}

.description,
.creators {
    font-size: medium;
    border-top: 1px solid #00000049;
    display: flex;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.openModal {
    display: none;
    margin: auto;
    border: 2px solid #000;
    position: fixed;
    padding-top: 50px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.9);
    z-index: 10;
}

.fa-solid {
    font-size: 40px;
    position: absolute;
    top: 0;
    right: 0px;
}

.favorite-button {
    display: none;
}

#movieID {
    display: none;
}

/* screen media query */

@media only screen and (max-width: 900px) {

    .header-menu {
        grid-template-columns: 30% 30% 35%;
    }

    .cards {
        grid-template-columns: 40% 40%;
        justify-content: space-around;
    }

    .card-area {
        grid-template-columns: 90%;
        height: auto;
        justify-content: center;
        justify-items: center;
    }

    .banner-area {
        width: 300px;
        height: 300px;
        border-right: none;
    }

    .info-area {
        /* height: 500px; */
        height: auto;
    }
}

@media only screen and (max-width: 768px) {

    header {
        grid-template-columns: 30% 60%;
        height: 95px;
    }

    .header-menu {
        grid-template-columns: 100%;
        display: grid;
        justify-items: end;
        margin-right: 20px;
        font-size: 18px;
    }

    .cards {
        grid-template-columns: 90%;
        justify-content: space-around;
    }

    .openModal img {
        width: 100%;
    }

}