@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.header {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    height: 50px;
    margin-top: 5px;
}

.logo {
    width: 40px;
}

.logo-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.logo-area-contain {
    background-color:rgb(101, 101, 101);
    padding: 8px;
    border-radius: 20px 20px 20px 2px;
}

.menu-area {
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin-left: 20px;
}

.menu-area a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.menu-area a:hover {
    opacity: 0.5;
}

.menu, 
.hizmet, 
.referans, 
.iletisim, 
.kaynak {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu:hover, 
.hizmet:hover, 
.referans:hover, 
.iletisim:hover, 
.kaynak:hover {
    background-color: rgb(86, 86, 86);
    border-radius: 5%;
}

.category {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-gap: 5px;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .category {
        display: grid;
        grid-template-columns:95%;
        justify-content: center;
    }

    .close {
        font-size: 35px;
        color: rgb(235, 0, 0);
        position:absolute;
        right: 10px;
    }
}

.main-area-one, 
.main-area-two, 
.main-area-three {
    font-family:  'Righteous', cursive;
    font-size: small;
    display: flex;
    /* height: 950px; */
    /* border: 2px solid #000; */
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align:justify;
    padding-top: 25px;
    /* overflow: hidden;
    text-overflow: ellipsis; */
}

.photo {
    width: 250px;
    height: 500px;
    object-fit:cover;
    filter:blur(1px);
}

.close {
    font-size: 80px;
    color: #fff;
    position:absolute;
    right: 80px;
    transition: 3s;
}

.close:hover, 
.close:focus {
    color: red;
    transition: 0s;
}

@media screen and (max-width: 768px) {
    .close {
        font-size: 55px;
        color: rgb(255, 255, 255);
        position:absolute;
        right: 10px;
        transition: 3s;
    }
}

.openModal {
    display: none;
    margin: auto;
    border: 2px solid #000;
    position:fixed;
    padding-top:50px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    background-color:rgb(0, 0, 0, 0.9);
}

.modalPic {
    width: 300px;
    height: 550px;
    object-fit: cover;
    margin-top: 50px;
}

.text {
    font-size: x-large;
    color: #fff;
}

.desc {
    font-weight: bolder;
    color: #fff;
    padding-top: 2px;
}

.selectedPhoto {
    cursor:pointer;
}